/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mars 2017, 15:14:34
    Author     : barry
*/

#pagetitle{
    
    padding: 10px;
    color: black;
}

#fieldset {
   color: red;
  
}

body{
    
    color: black;
}

#asterix{
    
    color: red;
}

.form-group {
    margin-bottom:15px
}

.form-control{display:block;width:25%;height:34px;padding:6px 12px;font-size:14px;line-height:1;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}

.form-check {
  position: relative;
  display: block;
  margin-bottom: 0.5rem;
}

.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: middle;
}

 


.form-check-input {
    position: relative;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }

.control-label
{
    color:#3a87ad;
}
#couleurbizaare{
    
    color: #ccc;
    
    
}

    
    
table{
    
    color: black;
    border-collapse: collapse;
    column-rule: none;
    align-content: center;
   
    
}

thead{
    
    background-color: black;
    color: white;
    border-collapse: collapse;
    column-rule: none;
    align-content: center;
}
#recu{
    
    font-size: 80%;
}


.document{
    
    width:25%;height:34px;padding:6px 12px;
    font-size:14px;line-height:1;color:#555;background-color:#fff;
    background-image:none;border:1px solid #ccc;border-radius:4px;
}

.transferer{
     background-color: black;
    color: white;
}


.description{
    
    font-size:75%;
    color: windowtext;
}